@{
    Layout = "_LoginLayout";
}

<div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
        <p class="text-blk heading">
            Hakkımızda
        </p>
        <p class="text-blk subHeading">
            MyBlog insan hikayeleri ve fikirleri için bir yuvadır.Burada herkes anlayışlarını, bakış açılarını, faydalı bilgileri
            ve tecrübelerini dünyayla paylaşabilir. İnternet gürültülü ve kaotiktir. MyBlog ise bir o kadar sessiz ve sakin. Basit,
            güzel ve işbirliğine dayalıdır. Söyleyecekleriniz için doğru kitleyi bulmanıza yardımcı olur.<br />
            Okuduklarınızın ve yazdıklarınızın önemli olduğuna inanıyoruz.Kelimeler bizi bölebilir veya güçlendirebilir,
            ilham verebilir veya cesaretimizi kırabilir.Çoğu zaman en sansasyonel ve yüzeysel hikayelerin kazandığı bir dünyada, derinliği, incelikleri ve iyi harcanan zamanı ödüllendiren bir sistem inşa ediyoruz.<br />
            Sonuçta amacımız, yazmanın gücü aracılığıyla dünyaya dair kolektif anlayışımızı derinleştirmektir.<br />
            Her ay 100 milyondan fazla insan Medium'a bağlanıyor ve bilgeliklerini paylaşıyor.
            Birçoğu profesyonel yazar ama bir o kadar da değil; CEO'lar, bilgisayar bilimcileri,
            ABD başkanları, amatör romancılar ve dünyaya açılmak için ihtiyaç duydukları bir hikayeyle yanıp tutuşan herkes.
            Ne üzerinde çalıştıklarını, geceleri onları neyin uyutmadığını, neler yaşadıklarını ve geri kalanımızın da bilmek isteyebileceği
            neler öğrendiklerini yazıyorlar.<br />
            Burada yeniyseniz keşfetmeye başlayın. Sizin için önemli olan her şeye daha derinlemesine dalın. Yeni bir şeyler öğrenmenize veya tanıdık bir şeyi yeniden düşünmenize yardımcı olacak bir gönderi bulun ve ardından kendi hikayenizi paylaşın.
        </p>

    </div>
</div>
